omegaconf
tensorboard
einops
nvitop
inflect
tokenizers
unidecode
transformers==4.38.0
diffusers
git+https://github.com/descriptinc/audiotools
torchinfo
argbind
pesq
pypinyin
WeTextProcessing
hangul-romanize
num2words
spacy